.navBar {
    -fx-background-color: -background;
    -fx-border-color: -foreground;
    -fx-border-width: 0 0 5 0;
}

.navBar > .label {
    -fx-text-fill: -foreground;
}

.navBar > .glyph-icon {
    -fx-fill: -foreground;
    -fx-cursor: hand;
}

.options-menu {
    -fx-background-color: -background;
    -fx-border-width: 0 0 0 2;
    -fx-border-color: -foreground;
    -fx-effect: dropshadow(gaussian, black, 20, 0.1, 0, 0);
}

.options-menu > .icon-button {
    -fx-min-width: 180px;
}