@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf');
}

* {
    -fx-font-smoothing-type: gray;
    -background: #444444;
    -foreground: #ffe047;
}

.root {
    -fx-background-color: -background;
}

.button {
    -fx-font-family: Roboto;
    -fx-background-color: transparent;
    -fx-text-fill: -foreground;
    -fx-border-radius: 2;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: -foreground;
    -fx-min-width: 125px;
    -fx-min-height: 40px;
    -fx-cursor: hand;
    -fx-background-radius: 2;
}

.button:hover {
    -fx-background-color: -foreground;
    -fx-text-fill: -background;
}

.label {
    -fx-font-family: Roboto;
    -fx-text-fill: -foreground;
}

.progress-bar, .progress-bar > .bar, .progress-bar .track {
    -fx-background-radius: 0px;
    -fx-background-insets: 0.5 0.5 0.5 0.5;
    -fx-padding: 5px;
    -fx-border-radius: 0px;
    -fx-border-width: 0px;
}

.progress-bar > .track {
    -fx-background-color: -background;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: -foreground;
}

.progress-bar > .bar {
    -fx-background-color: -foreground;
}

.glyph-icon {
    -fx-fill: -foreground;
    -fx-cursor: hand;
}

.icon-container {
    -fx-border-width: 1 1 1 1;
    -fx-border-color: -foreground;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.icon-container > .glyph-icon {
    -glyph-size: 48px;
}

.icon-container:hover {
    -fx-background-color: -foreground;
}

.icon-container:hover > .glyph-icon {
    -fx-fill: -background;
}

.h1 { -fx-font-size: 64px }
.h2 { -fx-font-size: 56px }
.h3 { -fx-font-size: 48px }
.h4 { -fx-font-size: 32px }
.h5 { -fx-font-size: 24px }
.h6 { -fx-font-size: 16px }