.navBar {
    -fx-background-color: -foreground;
    -fx-border-color: -foreground;
    -fx-border-width: 0 0 5 0;
}

.navBar > .label {
    -fx-text-fill: -background;
}

.navBar > .glyph-icon {
    -fx-fill: -background;
}