@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf');
}

* {
    -fx-font-smoothing-type: gray;
    -background: #374258;
    -foreground: #fa584d;
}

.root {
    -fx-background-color: -background;
}

.button {
    -fx-font-family: Roboto;
    -fx-background-color: transparent;
    -fx-text-fill: -foreground;
    -fx-border-radius: 0;
    -fx-border-width: 2;
    -fx-border-color: -foreground;
    -fx-min-width: 125px;
    -fx-min-height: 40px;
    -fx-cursor: hand;
    -fx-background-radius: 0;
}

.button:hover {
    -fx-background-color: -foreground;
    -fx-text-fill: -background;
}

.check-box {
    -fx-font-family: Roboto;
    -fx-text-fill: -foreground;
}

.check-box > .box {
    -fx-background-color: -background;
    -fx-border-width: 2;
    -fx-border-color: -foreground;
}

.check-box > .box > .mark {
    -fx-shape: "M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z";
}

.check-box:selected > .box > .mark {
    -fx-background-color: -foreground;
}

.glyph-icon {
    -fx-cursor: hand;
}

.label {
    -fx-font-family: Roboto;
    -fx-text-fill: -foreground;
}

.progress-bar, .progress-bar > .bar, .progress-bar .track {
    -fx-background-radius: 0;
    -fx-background-insets: 0.5 0.5 0.5 0.5;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-padding: 5 0 5 0;
}

.progress-bar > .track {
    -fx-background-color: -background;
    -fx-border-width: 2;
    -fx-border-color: -foreground;
}

.progress-bar > .bar {
    -fx-background-color: -foreground;
}

.icon-button {
    -fx-min-height: 0px;
    -fx-min-width: 0px;
}

.icon-button > .glyph-icon {
    -fx-fill: -foreground;
    -glyph-size: 48px;
}

.icon-button:hover > .glyph-icon {
    -fx-fill: -background;
}

.h1 { -fx-font-size: 64px }
.h2 { -fx-font-size: 56px }
.h3 { -fx-font-size: 48px }
.h4 { -fx-font-size: 32px }
.h5 { -fx-font-size: 24px }
.h6 { -fx-font-size: 16px }